/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-name {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* .color{
    color: #F5F5F5;
} */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    /* margin-left: 50px; */
}
.sign-in-btn {
    background-color: white; /* Background is white */
    color: #0F5F3B; /* Text color (adjust to match the exact shade of green) */
    border: 2px solid #0F5F3B; /* Green border */
    padding: 10px 20px; /* Space inside the button */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Pointer effect on hover */
}

.sign-in-btn:hover {
    background-color: #f0f0f0; /* Slight gray background on hover */
}

/* .about{
    border-radius: 30px;
    padding: 75px 50px;
    
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex; 
    justify-content: space-around;
} */

.secondary-bg{
    background-color: #C6E4D6;
}
.dark-2{
    color: 0E0E0E;

}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    opacity: 0.5;
}
.btn-primary{
    background-color: #006A50;
    font-weight: 40px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    /* margin: 10px 20px 10px 230px; */
    border-radius: 30px;
    padding: 50px 50px 50px 5px;
    
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}
.banner-content{
    max-width: 50000px;
}
.banner-content2{
    max-width: 2000px;
}
/* 4cards and 3 cards  */
/* 4 cards */
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: left;
    margin-left: 100px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-left: 105px;
    margin-right: 105px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}
.skill-description{
    opacity: 0.5;
}
/* 3 cards */
.btn-primary3{
    /* color: 5490F5; */
    font-weight: 40px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.btn-1{
    background-color: #5490F5;
    font-weight: 40px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.btn-2{
    background-color: #09A15C;
    font-weight: 40px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
.btn-3{
    background-color: #FFC239;
    font-weight: 40px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.card1{
    background-color: rgba(129, 180, 252, 0.4);
}
.card2{
    background-color: rgba(198, 228, 214, 0.5);
}
.card3{
    background-color: rgba(255, 213, 93, 0.5);
}
.section-description{
    font-size: 18px;
    color: #757575;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;

}